.container {
    display: flex;
    padding: .5em;
    width: 30em;
    height: 30em;
    justify-content: center;
}

.container:hover {
    /* border: solid 3px ; */
}

.image {
    object-fit: contain;
    filter: grayscale(100%)
}

.image:hover {
    filter: none;
}