.navBar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2em;
    max-width: 100%;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 2;
    background-color: black;
    background-image: radial-gradient(circle, #141111, black);
    padding: 3em 1em 1em 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.navBarSecondary {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    background-color: transparent;
}

.navBarHidden {
    opacity: 0;
}

.subtitleContainer {
    display: flex;
    text-align: center;
    color:  white;
    background-color: transparent;
    font-size: 2vw;
    padding-top: 1em;

}

.buttonBar {
    display: flex;
    gap: 2em;
}

#logo {
    max-width: 100%;
    width: 4rem;
    filter: grayscale(100%);
    position: absolute;
    left: 0;
    top: 2em;
    margin-left: 10vw;
    margin-top: .5vw;
}

.buttonMenu  {
   display: flex;
   flex-direction: column;
   width: 2.1em;
   height: 3em;
   background: transparent;
   gap: .65rem;
   margin: 15px 0 0 15px;
   border: 0;
}

.buttonMenuOpen {
    display: flex;
    flex-direction: column;
    width: 2.1em;
    height: 3em;
    background: transparent;
    gap: .65rem;
    margin: 15px 0 0 15px;
    border: 0;
 }

.buttonMenu > div {
    background-color: white;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

.buttonMenuOpen > div {
    background-color: white;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

.buttonMenuOpen  div:first-child {
   transform: rotate(45deg);
}

.buttonMenuOpen  div:nth-child(2) {
    opacity: 0;
}

.buttonMenuOpen  div:last-child {
   transform: rotate(-45deg);
}

@media screen and (min-width: 949px) {
    .buttonMenu {
        display: none;
    }

    .buttonBarOpen { /* Estilos responsive menu Hamburguesa*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

    }
}

@media screen and (max-width: 949px) {
    .buttonBar {
        display: none;
    }
    .buttonMenu {
        position: absolute;
        right: 0;
        margin-right: 10vw;
        padding-top: 1em;

    }

    .subtitleContainer {
        padding-top: 2.5em;
    }
}


