.hamburger {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: black;
    width: fit-content;
    padding-right: 10%;
    border: 3px solid white;
}

.buttonMenu {
    border: 3px solid white;
    border-radius: 20px;
    width: 6vh;
    height: 6vh;
    margin-left: 2vh;
    margin-top: 3vh;
}

.buttonMenu:hover {
    background-color: white;
    filter: blur(50%)
}